{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Requests{% endblock %}
{% block extra_head %}

<script type="text/javascript">
	var apiUrl = {% url 'requests_api' %};
</script>
<script src="{% static 'js/requests.js' %}" type="text/javascript"></script>

{% endblock %}
{% block requests_tab_class %} active {% endblock %}
{% block content %}
<table class="table">
	<tr class="row header">
		<td class="col-xs-1">
			Method
		</td>
		<td class="col-xs-7">
			Path
		</td>
		<td class="col-xs-1">
			AJAX
		</td>
		<td class="col-xs-3">
			Timestamp
		</td>
	</tr>

	{% for obj in objects %}
	<tr class="row request"  id="{{ obj.id }}">
		<td class="col-xs-1">
			{{ obj.method }}
		</td>
		<td class="col-xs-7">
			{{ obj.absolute_path }}
		</td>
		<td class="col-xs-1">
			{{ obj.is_ajax }}
		</td>
		<td class="col-xs-3">
			{{ obj.timestamp }}
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}