{% extends "base.html" %}
{% block content %}
<br>
	{% for contact in contacts %}
	<h2>{{ contact.name }} {{ contact.lastname }}</h2>
	<div class="row contacts">
		<div class="col-xs-6">Name: {{ contact.name }}</div>
		<div class="col-xs-6">Contacts</div>
		<hr>
	</div>
	
	<div class="row contacts">
		<div class="col-xs-6">Lastname: {{ contact.lastname }}</div>
		<div class="col-xs-6">Email: {{ contact.email }}</div>
		<hr>
	</div>

	<div class="row contacts">
		<div class="col-xs-6">Date of birth: {{ contact.date_on_birth }}</div>
		<div class="col-xs-6">Jabber: {{ contact.jabber_id }}</div>
		<hr>
	</div>

	<div class="row contacts">
		<div class="col-xs-6 col-xs-offset-6">Skype: {{ contact.skype_login }}</div>
		<hr>
	</div>	

	<div class="row contacts">
		<div class="col-xs-6">Bio:</div>
		<div class="col-xs-6">Other contacts:</div>
		<hr>
	</div>

	<div class="row contacts">
		<div class="col-xs-6">{{ contact.bio }}</div>
		<div class="col-xs-6">{{ contact.other_contacts }}</div>
		<hr>
	</div>
	{% endfor %}
{% endblock %}
