{% extends "base.html" %}
{% block title %}Contacts - {% endblock %}
{% block contacts_tab_class %} active {% endblock %}
{% block content %}
<br>
    {% if contacts %}
	<h2>{{ contacts.name }} {{ contacts.lastname }}</h2>
	<div class="row contacts">
		<div class="col-xs-6">Name: {{ contacts.name }}</div>
		<div class="col-xs-6">Contacts</div>
		<hr>
	</div>
	
	<div class="row contacts">
		<div class="col-xs-6">Lastname: {{ contacts.lastname }}</div>
		<div class="col-xs-6">Email: {{ contacts.email }}</div>
		<hr>
	</div>

	<div class="row contacts">
		<div class="col-xs-6">Date of birth: {{ contacts.date_of_birth }}</div>
		<div class="col-xs-6">Jabber: {{ contacts.jabber_id }}</div>
		<hr>
	</div>

	<div class="row contacts">
		<div class="col-xs-6 col-xs-offset-6">Skype: {{ contacts.skype_login }}</div>
		<hr>
	</div>	

	<div class="row contacts">
		<div class="col-xs-6">Bio:</div>
		<div class="col-xs-6">Other contacts:</div>
		<hr>
	</div>

	<div class="row contacts">
		<div class="col-xs-6">{{ contacts.bio | linebreaks }}</div>
		<div class="col-xs-6">{{ contacts.other_contacts | linebreaks }}</div>
		<hr>
	</div>
	{% else %}
	<h2>No contacts.</h2>
	{% endif %}

	<hr>
	<p class="text"><a href="{% url 'requests_list' %}">requests</a></p>
{% endblock %}
