{% extends base.html %}
{% block content %}
	<div class="row">
		<div class="col-xs-6">Name: Vitaliy</div>
		<div class="col-xs-6">Contacts</div>
	</div>
	
	<div class="row">
		<div class="col-xs-6">Lastname: Franchook</div>
		<div class="col-xs-6">Email: email</div>
	</div>

	<div class="row">
		<div class="col-xs-6">Date of birth: 11-11-111</div>
		<div class="col-xs-6">Jabber: JID</div>
	</div>

	<div class="row">
		<div class="col-xs-6 col-xs-offset-6">Skype: skype_login</div>
	</div>	

	<div class="row">
		<div class="col-xs-6">Bio:</div>
		<div class="col-xs-6">Other contacts:</div>
	</div>

	<div class="row">
		<div class="col-xs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsum atque et numquam, quasi officiis deleniti! Dolores illum dolorem quae asperiores accusantium consequuntur itaque tenetur assumenda, aspernatur a cumque excepturi nihil maxime consectetur, fugit vitae nam perferendis autem perspiciatis accusamus. Quidem perspiciatis, earum assumenda! Consectetur vitae harum minima earum fugiat.</div>
		<div class="col-xs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, facilis laboriosam quis voluptate nisi eos. Necessitatibus non, magnam facere culpa delectus id! Autem in ducimus eveniet illum doloribus ea eos nulla, modi expedita saepe laboriosam tempore quia eligendi sunt beatae consectetur dolore odio similique adipisci. Veniam ab necessitatibus tempora delectus.</div>
	</div>
{% endblock %}
